-@ val innerContent: String
-@ val topDirectory: String
!!! 5
html
  head
    title Content Server
    link(rel='stylesheet' type='text/css' href='/stylesheet/default.css')
    link(rel='javascript' type='text/javascript' href='/javascript/default.js')
  body
    .mainheader
      h1 #{topDirectory}:
    .info
      p #{unescape(innerContent)}
