-@ val item: com.marcolotz.contentserver.filesystem.FileSystemItem
!!! 5
html(lang='en')
  head
    title Video Stream
    link(rel='stylesheet' type='text/css' href='/stylesheet/default.css')
    link(rel='javascript' type='text/javascript' href='/javascript/default.js')
  body
    .mainheader
      h1 #{item.name}
    .videocontent
      video(controls='' name='media')
        source(src='/stream-content/#{item.name}' type='video/#{item.extension}')