!!! 5
html
  head
    title Content Server
  body
    h1 Content Server:
    <hr>
    p Choose one of the following options:
    br
    a(href='content') Content Server
    p request download to server
    p access logs
