!!! 5
html(lang='en')
  head
    title Content Server
  body
    h1 Content Server:
    hr
    p.choose Choose one of the following options:
    br
    p.option
      a(href='content') Files
    p.option request download to server
    p.option access logs