-@ val item: com.marcolotz.filesystem.FileSystemItem
!!! 5
html(lang='en')
  head
    title Video Stream
  body(style='margin: 0px;')
    h1 #{item.name}
    video(controls='' name='media')
      source(src='/stream-content/#{item.name}' type='video/#{item.extension}')